<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>7735442397-78tha0smrq00t2nv9tcj2e0asgpii4r0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.7735442397-78tha0smrq00t2nv9tcj2e0asgpii4r0</string>
	<key>API_KEY</key>
	<string>AIzaSyCnP6bOgsqfISNmWa2nbtPUOVLl6AXJ8Bw</string>
	<key>GCM_SENDER_ID</key>
	<string>7735442397</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bntu.bntu-app</string>
	<key>PROJECT_ID</key>
	<string>bntu-app</string>
	<key>STORAGE_BUCKET</key>
	<string>bntu-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:7735442397:ios:a8430fc1c468e226b49434</string>
	<key>DATABASE_URL</key>
	<string>https://bntu-app-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>